{% extends 'layouts/main.html' %}

{% block content %}
    <div class=centered>
        <section class=context>
            
            <!-- About Us Page -->
            <h2>About Us</h2>
            <p>FitTech International was founded on 1 July 2021 
                by computer science major Shawn Dailey with the 
                aspiration of incoporating tech in the fitness industry.
            </p><br>

            <h3>Leaving our mark on the fitness community</h3>
            <p>As such an essential part of one's health, fitness will
                always be a part of who we are. However, we understand
                that fitness can also be an overwhelming venture. Here
                at FitTech we are dedicated to easing that burden and
                creating a better experience for fitness enthusiast at 
                all levels. Through tech, we strive to make fitness 
                systems better accesible in residential environments 
                as well as provide commercial systems that are more user
                friendly.
            </p>
        </section>
    </div>
{% endblock %}