{% extends 'layouts/main.html' %}

{% block content %}
    <div class=centered>
        <section class=context>
            <!-- Talks about tech & displays various images -->
            <h2>The Tech</h2>
            <p>Designing tech to support fitness devices is an ongoing
                process. Our systems are developed by an enthusiastic
                group of engineers that are also loyal members to the 
                fitness community. Thus, we not only know how to engineer
                great products, our systems are designed by memebers that
                have years of first-hand experience in the industry.
            </p><br>

            <!-- Image Reel -->
            <ul class=img_reel>
                <li><img class=reel src="/static/img/reel/reel1.jpg"></li>
                <li><img class=reel src="/static/img/reel/reel2.jpg"></li>
                <li><img class=reel src="/static/img/reel/reel3.jpg"></li>
                <li><img class=reel src="/static/img/reel/reel1.jpg"></li>
                <li><img class=reel src="/static/img/reel/reel2.jpg"></li>
            </ul>
        </section>
    </div>
{% endblock %}